.add-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
}

.quantity-button {
    width: 20px;
    height: 20px;
    background-color: var(--light-gray);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
}

.checkout-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-top: 16px;
}

.cart-button {
    position: fixed;
    bottom: 3vh;
    left: 16px;
    right: 16px;
    background-color: var(--primary-color);
    color: white !important;
    padding: 12px;
    margin: 0 16px;
    border-radius: 25px;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
}